processed_data
**/NFL
.vscode
**/outputs
**/NFLStudio.egg-info/
**/outputs
**/*.pyc
**/*.gz
**/pcd_out
**/*.err
**/*.out
**/*.sbash
**/*.npy
**/*.png
**/wandb
**/snapshot
**/waymo
**/processed_data
**/processed_data_dynamic
**/save_dir
**/__pycache__
**/vehicle_data
**/render_scripts
